{% if page.title %}

<div class="social">
  <span class="contacticon center">
    <a href="mailto:%6D%61%74%74%68%65%77%6A%6F%72%64%61%6E@%6C%69%76%65.%63%61"><i class="fas fa-envelope"></i></a>
    <a href="https://twitter.com/mattyj612" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://scholar.google.com/citations?user=sqbQNLgAAAAJ" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
    <a href="https://github.com/mattyj612" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/matthewleejordan" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.goodreads.com/mattyj612" target="_blank" title="Goodreads"><i class="fab fa-goodreads"></i></a>
    <a href="https://www.instagram.com/mattyj612" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
  </span>
</div>

{% else %}

<div>
  <span class="center" style="display:block;font-size:32px;margin:10px;">
    <a href="mailto:%6D%61%74%74%68%65%77%6A%6F%72%64%61%6E@%6C%69%76%65.%63%61"><i class="fas fa-envelope"></i></a>
    <a href="https://twitter.com/mattyj612" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://scholar.google.com/citations?user=sqbQNLgAAAAJ" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
    <a href="https://github.com/mattyj612" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/matthewleejordan" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.goodreads.com/mattyj612" target="_blank" title="Goodreads"><i class="fab fa-goodreads"></i></a>
    <a href="https://www.instagram.com/mattyj612" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
  </span>
</div>

{% endif %}
