---
layout: default
---

<header style="text-align:center">
  <h3 class="post-title" style="font-size:28pt"><strong>{{ page.title }}</strong></h3>
  <!-- <h5 class="post-description">{{ page.description }}</h5> -->
</header>

{% if page.profile %}
  <div class="center">
    {% if page.profile.image %}
      <img class="center" style="width:35.4%" src="{{ page.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
    {% if page.profile.address %}
      <div class="address">
        {{ page.profile.address }}
      </div>
    {% endif %}
  </div>
{% endif %}

<div>
  <span class="center" style="display:block;font-size:32px;margin:10px;">
    <a href="mailto:{{ site.email | encode_email }}"><i class="fas fa-envelope"></i></a>
    {% if site.orcid_id %}<a href="https://orcid.org/{{ site.orcid_id }}" target="_blank" title="ORCID"><i class="ai ai-orcid"></i></a>{% endif %}
    {% if site.scholar_userid %}<a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>{% endif %}
    {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>{% endif %}
    {% if site.linkedin_username %}<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>{% endif %}
    {% if site.goodreads_username %}<a href="https://www.goodreads.com/{{ site.goodreads_username }}" target="_blank" title="Goodreads"><i class="fab fa-goodreads"></i></a>{% endif %}
    {% if site.instagram_username %}<a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>{% endif %}
    {% if site.twitter_username %}<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>{% endif %}
  </span>
  <div class="col three caption">
    {{ site.contact_note }}
  </div>
</div>

<div class="about-text">
{{ content }}
</div>

{% if page.news %}
  {% include news.html %}
{% endif %}

<div class="about-text" style="margin-bottom:-100px">
</div>
